.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover {
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);  
              
}   
span {
    color: orangered;
}    
.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;

}      
.navbar a:hover,
.navbar a.active {
    border-bottom: 3px solid orangered;
    color: orangered;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;

}
.picture {
    height: 600px;
    width: 3000px;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.list{
    padding-left: flex;
    padding-right: flex;
    font-size: larger;
    width: 100%;
}

.list {
    font-size: 30px;
    line-height: 1.2;
    padding-left: 18cm;
    color: orangered;
}

.orderedlist {

    font-size: 20px;
    padding-left: 12cm;
}




















